{% extends 'adminlte/login.html'%}
{% load bootstrap4 %}

{% block logo %}

<div class="login-logo">
    {# Mirrors block names used in _main_header.html #}
    <a>{% block logo_text %}<b>Administration</b>{% endblock %}</a>
</div>

{% endblock logo %}

{% block login_form %}

{% if validlink %}

    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                Create new password
            </div>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}

                <button class="btn btn-primary" type="submit">Send</button>
            </form>

        </div>


    </div>

{% endif %}

{% endblock login_form %}