{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Service Register
{% endblock %}


{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                {% if request.resolver_match.url_name == 'service_register' %}
                    Service Register
                {% else %}
                    Service Edit
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form_service%}
                <button class="btn btn-primary" type="submit">Register</button>
            </form>

        </div>
       

    </div>
   
   
{% endblock %}
